@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Syne+Mono&display=swap');

a:hover {
    color: #431287
}

a {
    text-decoration: none;
}

body {
    background-color: #f9f9f9;
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: Zapfino, cursive;
}

.title-card {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    border-radius: 10px;
}


.syne-mono-regular {
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
}


.bitcount-regular {
    font-family: "Bitcount", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

.directory {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.dir-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-family: "Bitcount", system-ui;
}

.dir-item a:hover {
    background-image: url("../assets/halftone-artwork-hover.jpg");
    background-size: cover;
    transition: all 0.3 ease;
}

.main-container {
    display: flex;
    justify-content: center;
    position: absolute;
    min-height: 400px;
    width: 800px;
    top: 135px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    background-image: url("../assets/halftone-artwork-3.jpg");
    background-size: contain;
}

.text-container {
    min-height: 350px;
    width: 750px;
    padding: 10px;
    list-style-position: inside;
    background-color: #f9f9f9;
    font-family: 'Times New Roman', Times, serif;
}

.text-normal {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.text-normal:hover {
    color: #431287;
}